.main-loading {
  position: absolute;
  left:0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 10000;
  background-color: rgb(var(--bg-color));
}


.eye-container {
  position: relative;
  width:30rem;
  height:0;
  display: flex;
  margin: auto;
  border: .3rem solid rgb(var(--main-color));
  border-radius:80%;
  animation: eye-closed 3s ease-in-out infinite;
  overflow: hidden;
}

.eye {
  position: initial;
  display:inherit;
  width: 10rem;
  height:10rem;
  border-radius: 50%;
  background-color: rgb(var(--main-color));
  animation: pupil-moved 3s ease-in-out infinite;
}

.pupil {
  position: inherit;
  width:4rem;
  height:4rem;
  display:inherit;
  border-radius:inherit;
  background-color: rgb(var(--bg-color));
}

.component-loading {
  position: relative;
  display: inline-block;
  margin: auto;
}

.loading-circle {
  width: 5rem;
  height: 5rem;
  display: flex;
  fill: rgb(var(--main-color)) !important;
  animation: circle-spin .5s ease-out infinite;
}


@keyframes eye-closed {
  0% {
    height:13rem;
  } 10% {
    height: 13rem;
  } 80% {
    height: 0;
  } 100% {
    height: 13rem;
  }
}

@keyframes pupil-moved {
  0% {
    transform: translateX(0%);
  } 30% {
    transform: translateX(50%);
  } 50% {
    transform: translateX(0%);
  } 70% {
    transform: translateX(-50%);
  } 90% {
    transform: translateX(0%);
  }
}

@keyframes circle-spin {
  0% {
    transform: rotate(10deg);
  } 50% {

  } 60% {

  } 70% {
    transform: rotate(360deg);
  } 80% {
    transform: rotate(370deg);
  } 90% {

  } 100% {
    transform: rotate(380deg);
  }
}

@media only screen and (max-width:479px) {
  .eye-container {
    width: 80%;
  }

  .eye {
    width: 7rem;
    height: 7rem;
  }

  .pupil {
    width: 3rem;
    height: 3rem;
  }

  @keyframes eye-closed {
  0% {
    height:10rem;
  } 10% {
    height: 10rem;
  } 80% {
    height: 0;
  } 100% {
    height: 10rem;
  }
}
}

